 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-text-1 {
  font-family: Belgrano;
  margin: 45px 675px 0 301px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Belgrano;
  margin: -41px 823px 0 271px;
}

.u-section-1 .u-text-3 {
  font-family: Belgrano;
  margin: -36px 624px 0 465px;
}

.u-section-1 .u-text-4 {
  font-family: Belgrano;
  margin: -31px 525px 0 491px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-family: Belgrano;
  margin: -41px 484px 0 606px;
}

.u-section-1 .u-text-6 {
  font-family: Belgrano;
  margin: -31px 227px 0 634px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-family: Belgrano;
  margin: -36px 876px 0 163px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 3.125rem;
  margin: 125px -144px 0 165px;
}

.u-section-1 .u-text-9 {
  font-size: 2rem;
  font-family: Georgia, serif;
  margin: 19px 161px 0 165px;
}

.u-section-1 .u-group-1 {
  width: 461px;
  height: auto;
  background-image: none;
  min-height: 58px;
  margin: 40px auto 0 165px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 3px 0 83px;
}

.u-section-1 .u-shape-1 {
  width: 20px;
  height: 20px;
  margin: -29px auto 9px 30px;
}

.u-section-1 .u-text-11 {
  font-family: Belgrano;
  font-weight: 400;
  font-size: 2.375rem;
  text-transform: uppercase;
  margin: 93px 717px 0 165px;
}

.u-section-1 .u-group-2 {
  width: 374px;
  height: auto;
  min-height: 58px;
  margin: 25px auto 0 165px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-12 {
  font-family: Belgrano;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.0715em;
  vertical-align: -1px;
}

.u-section-1 .u-group-3 {
  width: 374px;
  height: auto;
  min-height: 58px;
  margin: -58px 202px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-1 .u-text-13 {
  font-family: Belgrano;
  font-size: 1.875rem;
  width: 126px;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 0.9334em;
  vertical-align: 0px;
  margin-right: 0;
}

.u-section-1 .u-text-14 {
  font-family: Belgrano;
  font-weight: 400;
  font-size: 2.375rem;
  margin: 79px -97px 0 168px;
}

.u-section-1 .u-list-1 {
  width: 617px;
  height: auto;
  margin: 16px auto 60px 163px;
}

.u-section-1 .u-repeater-1 {
  min-height: 68px;
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 6px;
}

.u-section-1 .u-shape-2 {
  width: 187px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-family: Belgrano;
  font-size: 1.875rem;
  margin: -42px auto 6px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 6px;
}

.u-section-1 .u-shape-3 {
  width: 187px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-family: Belgrano;
  font-size: 1.875rem;
  margin: -42px auto 6px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 6px;
}

.u-section-1 .u-shape-4 {
  width: 187px;
  height: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-family: Belgrano;
  font-size: 1.875rem;
  margin: -42px auto 6px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 250px;
    margin-right: 575px;
    margin-left: 201px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 723px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 524px;
    margin-left: 365px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 425px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 384px;
    margin-left: 506px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 127px;
    margin-left: 534px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 776px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -210px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: 814px;
    margin-left: 0;
    margin-right: 126px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-11 {
    margin-right: 617px;
    margin-left: 65px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 65px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 313px;
    margin-left: 588px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 420px;
    margin-right: 465px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 613px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 414px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 315px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 274px;
    margin-left: 396px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 17px;
    margin-left: 424px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -380px;
  }

  .u-section-1 .u-text-9 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 462px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 240px;
    margin-left: 478px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -43px;
    margin-left: 103px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 451px;
    margin-left: 1px;
    margin-right: 375px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 494px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 324px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 225px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 184px;
    margin-left: 306px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 261px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 439px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -411px;
  }

  .u-section-1 .u-text-9 {
    width: 540px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 282px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 163px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 156px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 166px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 180px;
    margin-left: 388px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-bottom: -74px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 485px;
    margin-left: 0;
    margin-right: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -43px;
    margin-right: 224px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -38px;
    margin-right: 125px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 89px;
    margin-right: 84px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -139px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 116px;
    margin-right: 239px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -329px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 82px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 98px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 113px;
    margin-left: 214px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: -238px;
  }
}